/docker/mysql
/wp-content/uploads
/wp-content/themes/coffeelove/_functions.php
/wp-content/themes/coffeelove/__functions.php
/wp-content/themes/coffeelove/___functions.php
.idea
wp-config.php

test.php
/wp-content/themes/vw-one-page